<div class="main-container">
  <div class="header">
    <img class="logo" src="../../../assets/img/logo-white.svg" />
    <div class="nav">
      <span>Kanban Project Management Tool </span>
      <img class="help" src="../../../assets/img/help.svg" />
      <img class="user-img" src="../../../assets/img/SM.svg" />
    </div>
  </div>
  <div class="main-screen">
    <div class="sidebar">
      <div class="nav-items">
        <div class="item">
          <img src="../../../assets/img/summary.svg" />
          <span>Summary</span>
        </div>
        <div class="item">
          <img src="../../../assets/img/board.svg" />
          <span>Board</span>
        </div>
        <div class="item">
          <img src="../../../assets/img/addtask.svg" />
          <span>Add Task</span>
        </div>
        <div class="item">
          <img src="../../../assets/img/contacts.svg" />
          <span>Contacts</span>
        </div>
      </div>
      <div class="tos">
        <span>Privacy Policy</span>
        <span>Legal Notice</span>
      </div>
    </div>
    <div class="content">TEST Content</div>
  </div>
</div>
