<div class="main-container">
  <div class="header">
    <img class="logo" src="../../../assets/img/logo-white.svg" />
    <div class="nav">
      <span>Kanban Project Management Tool </span>
      <img class="help" src="../../../assets/img/help.svg" />
      <img class="user-img" src="../../../assets/img/SM.svg" />
    </div>
  </div>
  <div class="main-screen">
    <div class="sidebar">
      <div class="nav-items">
        <div routerLink="/summary" class="item">
          <img src="../../../assets/img/summary.svg" />
          <span>Summary</span>
        </div>
        <div routerLink="/board" class="item">
          <img src="../../../assets/img/board-side.svg" />
          <span>Board</span>
        </div>
        <div class="item">
          <img src="../../../assets/img/addtask.svg" />
          <span>Add Task</span>
        </div>
        <div class="item">
          <img src="../../../assets/img/contacts.svg" />
          <span>Contacts</span>
        </div>
      </div>
      <div class="tos">
        <span>Privacy Policy</span>
        <span>Legal Notice</span>
      </div>
    </div>
    <div class="content-container">
      <div class="content">
        <div class="title">Good morning, <span class="name"> Alen</span>!</div>
        <div class="deadline-container">
          <div class="left">
            <div class="task-container">
              <div class="task-title">
                <img src="../../../assets/img/urgent.png" />
                <span class="amount">1</span>
              </div>
              <span class="task-name">Tasks Urgent</span>
            </div>
            <div class="seperator"></div>
            <div class="date-container">
              <span class="date">October 16, 2023</span>
              <span class="date-text">Upcoming Deadline</span>
            </div>
          </div>
          <div class="board-container">
            <div class="task-title">
              <img src="../../../assets/img/board.png" />
              <span class="board-amount">5</span>
            </div>
            <span class="task-name">Tasks in Board</span>
          </div>
        </div>
        <div class="sub-container">
          <div class="subtask-container">
            <div class="task-title">
              <img src="../../../assets/img/to-do.png" />
              <span class="amount">1</span>
            </div>
            <span class="task-name">Tasks To-do</span>
          </div>

          <div class="subtask-container">
            <div class="task-title">
              <img src="../../../assets/img/progress.png" />
              <span class="amount">2</span>
            </div>
            <span class="task-name">Tasks in Progress</span>
          </div>

          <div class="subtask-container">
            <div class="task-title">
              <img src="../../../assets/img/feedback.png" />
              <span class="amount">2</span>
            </div>
            <span class="task-name">Awaiting Feedback</span>
          </div>

          <div class="subtask-container">
            <div class="task-title">
              <img src="../../../assets/img/done.png" />
              <span class="amount">1</span>
            </div>
            <span class="task-name">Tasks Done</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 

TODO: 

Add components as children to a Dashboard component!

Add functionality with swappign components through links


-->