<div class="main-container">
  <img class="logo" src="../../../assets/img/logo-white.svg" />
  <div class="legal-container">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
  <div class="signup-container">
    <div class="container-header">
      <h1>Sign Up</h1>
      <div class="blue-seperator"></div>
    </div>
    <form>
      <div class="inputs">
        <div class="email">
          <input
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
          />
          <img src="../../../assets/img/mail.svg" />
        </div>
        <div class="pwd">
          <input [(ngModel)]="pwd" name="pwd" placeholder="Password" required />
          <img src="../../../assets/img/lock.svg" />
        </div>
        <div class="confirm-pwd">
          <input
            [(ngModel)]="confirmPwd"
            name="pwd"
            placeholder="Confirm Password"
            required
          />
          <img src="../../../assets/img/lock.svg" />
        </div>
      </div>
      <div class="tos-container">
        @if(checkbox){
        <img
          (click)="changeCheckbox()"
          src="../../../assets/img/checkbox.svg"
        />
        } @else {
        <img
          class="checked"
          (click)="changeCheckbox()"
          src="../../../assets/img/checked.svg"
        />
        }
        <span>I accept the Privacy Policy</span>
      </div>
      <div class="buttons-container">
        <button class="login">Sign Up</button>
      </div>
    </form>
  </div>
</div>
