<div class="content">
  <div class="task-creation-container">
    <div class="task-title">
      <input class="title" placeholder="Enter a title" />
    </div>
    <div class="task-description-container">
      <span class="description-title"
        ><b class="bold">Description</b> (optional)</span
      >
      <textarea
        placeholder="Enter a description"
        class="description"
      ></textarea>
    </div>
    <div class="due-date-container">
      <span class="due-date-title">Due date</span>
      <div class="input-due-date-box">
        <input
          matInput
          [matDatepicker]="picker"
          [min]="todayDate"
          class="date"
          placeholder="DD/MM/YYYY"
        />
        @if(this.error){
        <span class="error-invalid-date"
          >Invalid Date. Please pick a Date from Today or in the future.</span
        >
        }

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
      </div>
    </div>
  </div>
</div>
