<div class="content">
  <div class="task-creation-container">
    <div class="task-title">
      <input class="title" placeholder="Enter a title" />
    </div>

    <div class="task-description-container">
      <span class="description-title"
        ><b class="bold">Description</b> (optional)</span
      >
      <textarea
        placeholder="Enter a description"
        class="description"
      ></textarea>
    </div>

    <div class="due-date-container">
      <span class="due-date-title">Due date</span>
      <div class="input-due-date-box">
        <input
          matInput
          [matDatepicker]="picker"
          [min]="todayDate"
          class="date"
          placeholder="DD/MM/YYYY"
        />
        @if(this.error){
        <span class="error-invalid-date"
          >Invalid Date. Please pick a Date from Today or in the future.</span
        >
        }

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker color="primary"></mat-datepicker>
      </div>
    </div>

    <div class="prio-container">
      <span class="prio-title">Priority</span>

      <div class="prio-boxes-btns-container">
        <div class="urgent">
          @if(urgent){
          <img
            (click)="changeUrgentPrio()"
            src="../../../../assets/img/urgent_full_red.png"
            class="prio-img"
          />
          } @else {
          <img
            (click)="changeUrgentPrio()"
            src="../../../../assets/img/urgent_full_white.png"
            class="prio-img"
          />
          }
        </div>

        <div class="medium">
          @if(medium){
          <img
            (click)="changeMediumPrio()"
            src="../../../../assets/img/medium_full_orange.png"
            class="prio-img"
          />
          } @else {
          <img
            (click)="changeMediumPrio()"
            src="../../../../assets/img/medium_full_white.png"
            class="prio-img"
          />
          }
        </div>

        <div class="low">
          @if(low){
          <img
            (click)="changeLowPrio()"
            src="../../../../assets/img/low_full_green.png"
            class="prio-img"
          />
          } @else {
          <img
            (click)="changeLowPrio()"
            src="../../../../assets/img/low_full_white.png"
            class="prio-img"
          />
          }
        </div>
      </div>
    </div>

    <div class="assign-contact-container">
      <span class="assign-contact-title"
        ><b class="bold">Assigned to</b> (optional)</span
      >
      <div class="border">
        <select class="styled-select">
          <option value="">Select contacts to assign</option>
          <option value="Alen Alduk">Alen Alduk</option>
        </select>
      </div>
    </div>

    <div class="assign-category-container">
      <span class="assign-category-title"> <b class="bold">Category</b></span>
      <div class="border">
        <select class="styled-select">
          <option value="">Select task category</option>
          <option value="Media">Media</option>
        </select>
      </div>
    </div>

    <div class="assign-subtask-container">
      <span class="assign-subtask-title">
        <b class="bold">Subtasks</b> (optional)</span
      >
      <div class="input-subtask-container">
        <input class="subtask" placeholder="Add new Subtask" />
        <img src="../../../../assets/img/subtask-icon.png" />
      </div>
    </div>
  </div>
</div>
