.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
  font-family: "Open Sans";
}

.task-creation-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow-y: auto;
}

.title {
  color: black;
  font-size: 32px;
  border: 0;
  border-bottom: 1px #d1d1d1 solid;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0;
  width: 71%;
}

.title::placeholde {
  color: gray;
}

.title:focus {
  outline: 0;
}

.task-description-container {
  display: flex;
  flex-direction: column;
  height: 20%;
  span {
    font-size: 19px;
    color: #42526e;
    margin-bottom: 8px;
    font-weight: 500;
  }

  textarea {
    width: 67%;
    max-height: 70px !important;
    resize: vertical;
    height: 100%;
    padding: 12px;
    font-size: 19px;
    max-width: 80%;
    font-family: "Open Sans";
    font-weight: 400;
    outline: 0;
    border: 1px solid #d1d1d1;
    border-radius: 0px 10px 10px 10px;
  }

  .bold {
    font-weight: 700;
  }

  textarea::placeholder {
    font-size: 19px;
    font-weight: 500;
    font-family: "Open Sans";
  }
}

.due-date-title,
.prio-title {
  font-size: 19px;
  color: #42526e;
  font-weight: 700;
}

.date,
.subtask {
  font-size: 19px;
  border: 0;
  border-bottom: 1px #d1d1d1 solid;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  outline: none;
  width: 71%;
}

.date::placeholder {
  font-size: 19px;
  font-weight: 500;
  font-family: "Open Sans";
  color: gray;
}

.mat-datepicker-input {
  padding: 0;
}

.input-due-date-box {
  position: relative;
  padding: 0px 0px 0px 0px !important;
  display: flex;
  flex-direction: column;
}

.due-date-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-datepicker-toggle {
  position: absolute !important;
  top: -23px !important;
  right: 30% !important;
  cursor: pointer;
}

.prio-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.prio-boxes-btns-container {
  display: flex;
  gap: 4px;
  justify-content: start;
}

.urgent,
.medium,
.low {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 25%;
}

.assign-contact-title,
.assign-category-title,
.assign-subtask-title {
  font-size: 19px;
  color: #42526e;
  margin-bottom: 8px;
  font-weight: 500;
}

.assign-contact-container,
.assign-category-container,
.assign-subtask-container {
  display: flex;
  flex-direction: column;
}

.styled-select {
  background: url(../../../../assets/img/arrow_drop_down.png) no-repeat right;
  cursor: pointer;
  width: 100%;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  padding: 8px;
  border: none;
  outline: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.border {
  border-bottom: 1px solid gray;
  width: 71%;
}

.input-subtask-container {
  position: relative;

  input {
  }

  img {
    position: absolute;
    right: 29%;
    cursor: pointer;
  }
}
