<div class="main-container">
  <img class="logo" src="../../../assets/img/logo.svg" />
  <div class="sign-container">
    <span>Not a Join User?</span>
    <button routerLink="/register" class="signup-btn">Sign Up</button>
  </div>
  <div class="legal-container">
    <a href="#">Privacy Policy</a>
    <a href="#">Legal Notice</a>
  </div>
  <div class="login-container">
    <div class="container-header">
      <h1>Log In</h1>
      <div class="blue-seperator"></div>
    </div>
    <form>
      <div class="inputs">
        <div class="email">
          <input
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            required
          />
          <img src="../../../assets/img/mail.svg" />
        </div>
        <div class="pwd">
          <input [(ngModel)]="pwd" name="pwd" placeholder="Password" required />
          <img src="../../../assets/img/lock.svg" />
        </div>
      </div>
      <div class="remember-me">
        @if(checkbox){
        <img
          (click)="changeCheckbox()"
          src="../../../assets/img/checkbox.svg"
        />
        } @else {
        <img
          class="checked"
          (click)="changeCheckbox()"
          src="../../../assets/img/checked.svg"
        />
        }
        <span>Remember Me</span>
      </div>
      <div class="buttons-container">
        <button class="login">Log In</button>
        <button routerLink="dashboard/summary" class="guest">
          Guest Log In
        </button>
      </div>
    </form>
  </div>
</div>
