.content {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 80px;
}

.search-section {
  display: flex;
  gap: 22px;
}

.task-search-container {
  display: flex;
  align-items: center;
  border: 1px solid #a8a8a8;
  gap: 15px;
  width: 250px;
  height: 25px;
  border-radius: 10px;
  padding: 8px 16px;
  img {
    width: 30px;
    height: 30px;
    justify-self: flex-end !important;
    cursor: pointer;
  }

  input {
    border: none;
    width: 80%;
    outline: none;
    font-size: 18px;
  }

  input::placeholder {
    color: #d1d1d1;
    font-size: 18px;
  }
}

.seperator {
  width: 1px;
  height: 75%;
  background-color: #a8a8a8;
}

.add-task-btn {
  background-color: #4589ff;
  font-weight: 400;
  color: white;
  border-style: none;
  border: 1px solid #4589ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 23px;
  padding: 6px 16px;
  cursor: pointer;

  &:hover {
    background-color: #305ba5;
    transition: 0.4s background-color;
  }

  span {
    font-size: 27px;
  }
}

.to-do-section,
.progress-section,
.feedback-section,
.done-section {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.section-title {
  font-weight: 700;
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #42526e;

  img {
    height: 24px;
    cursor: pointer;
  }
}

.board-section {
  display: flex;
  flex: 1;
  gap: 24px;
}
