<div class="content">
  <div class="search-section">
    <div class="task-search-container">
      <input class="search" placeholder="Find task.." />
      <div class="seperator"></div>
      <img
        src="../../../../assets/img/search.png"
        alt="search icon"
        class="search-icon"
      />
    </div>

    <button class="add-task-btn">Add task <span>+ </span></button>
  </div>

  <div class="board-section">
    <div class="to-do-section">
      <div class="section-title">
        <span class="title">To do</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
    </div>

    <div class="progress-section">
      <div class="section-title">
        <span class="title">In progress</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
    </div>

    <div class="feedback-section">
      <div class="section-title">
        <span class="title">Await feedback</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
    </div>

    <div class="done-section">
      <div class="section-title">
        <span class="title">Done</span>
      </div>
    </div>
  </div>
</div>
