<div class="content">
  <div class="search-section">
    <div class="task-search-container">
      <input class="search" placeholder="Find task.." />
      <div class="seperator"></div>
      <img
        src="../../../../assets/img/search.png"
        alt="search icon"
        class="search-icon"
      />
    </div>

    <button class="add-task-btn">Add task <span>+ </span></button>
  </div>

  <div class="board-section" cdkDropListGroup>
    <div class="to-do-section">
      <div class="section-title">
        <span class="title">To do</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
      <div
        cdkDropList
        [cdkDropListData]="todo"
        (cdkDropListDropped)="onDrop($event)"
        class="task-container"
      >
        @if(todo.length > 0){ @for(todoTask of todo; track todoTask){
        <div class="task-card" cdkDrag (click)="openDialog()">
          <div class="task-category">
            <span class="task-category-name">{{ todoTask.category }}</span>
          </div>
          <div class="task-card-titles">
            <span class="task-card-title">{{ todoTask.title }}</span>
            <span class="task-card-description">{{
              todoTask.description
            }}</span>
          </div>

          <div class="task-card-subtasks">
            <mat-progress-bar
              mode="determinate"
              color="#4589FF"
              value="{{ todoTask.subtasks?.length }}"
            ></mat-progress-bar>
            <span clas="amount-subtasks">{{ todoTask.subtasks?.length }}</span>
          </div>
          <div class="task-footer">
            <div class="task-assigned-contacts">
              <img src="../../../../assets/img/test-contanct-images.png" />
            </div>
            <img
              class="task-card-prio"
              src="../../../../assets/img/task-card-medium-prio.png"
            />
          </div>
        </div>
        } } @else {
        <div class="no-tasks"><span>No tasks</span></div>
        }
      </div>
    </div>

    <div class="progress-section">
      <div class="section-title">
        <span class="title">In progress</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
      <div
        cdkDropList
        [cdkDropListData]="progress"
        (cdkDropListDropped)="onDrop($event)"
        class="task-container"
      >
        @if(progress.length > 0){ @for(progressTask of progress; track
        progressTask){
        <div class="task-card" cdkDrag (click)="openDialog()">
          <div class="task-category">
            <span class="task-category-name">{{ progressTask.category }}</span>
          </div>
          <div class="task-card-titles">
            <span class="task-card-title">{{ progressTask.title }}</span>
            <span class="task-card-description">{{
              progressTask.description
            }}</span>
          </div>

          <div class="task-card-subtasks">
            <mat-progress-bar
              mode="determinate"
              color="#4589FF"
              value="{{ progressTask.subtasks?.length }}"
            ></mat-progress-bar>
            <span clas="amount-subtasks">{{
              progressTask.subtasks?.length
            }}</span>
          </div>
          <div class="task-footer">
            <div class="task-assigned-contacts">
              <img src="../../../../assets/img/test-contanct-images.png" />
            </div>
            <img
              class="task-card-prio"
              src="../../../../assets/img/task-card-medium-prio.png"
            />
          </div>
        </div>
        } } @else {
        <div class="no-tasks"><span>No tasks</span></div>
        }
      </div>
    </div>

    <div class="feedback-section">
      <div class="section-title">
        <span class="title">Await feedback</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
      <div
        cdkDropList
        [cdkDropListData]="feedback"
        (cdkDropListDropped)="onDrop($event)"
        class="task-container"
      >
        @if(feedback.length > 0){ @for(feedbackTask of feedback; track
        feedbackTask){
        <div class="task-card" cdkDrag (click)="openDialog()">
          <div class="task-category">
            <span class="task-category-name">{{ feedbackTask.category }}</span>
          </div>
          <div class="task-card-titles">
            <span class="task-card-title">{{ feedbackTask.title }}</span>
            <span class="task-card-description">{{
              feedbackTask.description
            }}</span>
          </div>

          <div class="task-card-subtasks">
            <mat-progress-bar
              mode="determinate"
              color="#4589FF"
              value="{{ feedbackTask.subtasks?.length }}"
            ></mat-progress-bar>
            <span clas="amount-subtasks">{{
              feedbackTask.subtasks?.length
            }}</span>
          </div>
          <div class="task-footer">
            <div class="task-assigned-contacts">
              <img src="../../../../assets/img/test-contanct-images.png" />
            </div>
            <img
              class="task-card-prio"
              src="../../../../assets/img/task-card-medium-prio.png"
            />
          </div>
        </div>
        } } @else {
        <div class="no-tasks"><span>No tasks</span></div>
        }
      </div>
    </div>

    <div class="done-section">
      <div class="section-title">
        <span class="title">Done</span>
        <img
          class="task-icon"
          src="../../../../assets/img/add-task-board-btn.png"
        />
      </div>
      <div
        cdkDropList
        [cdkDropListData]="done"
        (cdkDropListDropped)="onDrop($event)"
        class="task-container"
      >
        @if(done.length > 0){ @for(doneTask of done; track doneTask){
        <div class="task-card" cdkDrag (click)="openDialog()">
          <div class="task-category">
            <span class="task-category-name">{{ doneTask.category }}</span>
          </div>
          <div class="task-card-titles">
            <span class="task-card-title">{{ doneTask.title }}</span>
            <span class="task-card-description">{{
              doneTask.description
            }}</span>
          </div>

          <div class="task-card-subtasks">
            <mat-progress-bar
              mode="determinate"
              color="#4589FF"
              value="{{ doneTask.subtasks?.length }}"
            ></mat-progress-bar>
            <span clas="amount-subtasks">{{ doneTask.subtasks?.length }}</span>
          </div>
          <div class="task-footer">
            <div class="task-assigned-contacts">
              <img src="../../../../assets/img/test-contanct-images.png" />
            </div>
            <img
              class="task-card-prio"
              src="../../../../assets/img/task-card-medium-prio.png"
            />
          </div>
        </div>
        } } @else {
        <div class="no-tasks"><span>No tasks</span></div>
        }
      </div>
    </div>
  </div>
</div>
