body {
  margin: 0;
  font-family: "Open Sans" !important;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}
